html, 
body {
    background: #03040a;
    color: #efefef;
}

.bgGradient{
    position: absolute;
    width: 340%;
    left: -230%;
    height: 30%;
    top: 30%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353c59), color-stop(71%,#3f4c6b), color-stop(71%,#ffffff), color-stop(72%,#ffffff), color-stop(73%,#272d42), color-stop(100%,#272d42));
    background: -webkit-linear-gradient(top,  #353c59 0%,#3f4c6b 71%,#ffffff 71%,#ffffff 72%,#272d42 73%,#272d42 100%);
    background: linear-gradient(to bottom,  #353c59 0%,#3f4c6b 71%,#ffffff 71%,#ffffff 72%,#272d42 73%,#272d42 100%); 
}

.talk-title {
    line-height: 1.5;
    width: 200%;
    font-size: 46px;
    text-shadow: 1px 1px 1px #000;
}
.talk-title h1 {
    font-size: 72px;
}

.step .years {
    width: 5000%;
}
.year {
    font-size: 146px;   
}
.years .year { 
    width: 1000px;
    float: left;
    clear: none;
}


.message {
    font-size: 36px;
    color: #fff;
    background: #1A1B2F;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #E26426;
    margin: 10px 0;
}

.slide-toaster:before {
    content: " ";
    display: block;
    position: absolute;
    top: 594px;
    width: 100%;
    padding: 0 4px;
    margin-left: -4px;
    height: 5px;
    background: #03040a;
    /*-webkit-transform: rotateX(86deg) rotateY(0deg) rotateZ(0deg) scaleY(10);*/
    /*-webkit-box-shadow:  0px 0px 2px 2px #1B212D;*/
}


.slide .toaster {
    -webkit-transition: all 500ms ease-out 0;
    transition: all 500ms ease-out 0;
    position: absolute;
    top: 80%;
    width: 100%;    
}
.slide.active .toaster {
    top: 0;
    -webkit-transition: all 500ms ease-out 400ms;
    transition: all 500ms ease-out 400ms;
}

.photo {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg);
    text-align: center;
}
.photo.alt {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(7deg);
}
.photo.alt2 {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-2deg);
}
.photo.alt3 {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(1deg);
}

.photo img {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.slide .delay {
    -webkit-transition-delay: 0;
    transition-delay: 0;
    top: 700px;
}
.slide.active .delay {
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}


.CodeMirror-scroll {
    height: 600px !important;
    overflow: hidden;
    font-size: 28px;
    line-height: 1.1;

}

.CodeMirror:before {
    height: 600px;
    content: " ";
    display: block;
    width: 50px;
    /*background: #0f0;*/
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.browser-chrome {
    position: absolute;
    padding: 72px 0 0;
    width: 100%;
    height: 524px;
    border: 1px solid #999;
    border-top: 0;
    overflow: hidden;
    text-align: center;
    background: #D0D1D3;
}
.browser-chrome img {
    position: relative;
    -webkit-transition: all 0ms ease-in-out 1500ms;
    transition: all 0ms ease-in-out 500ms;
    top: 0;
}
.active .browser-chrome img {
    top: -500px;
    -webkit-transition: all 4000ms ease-in-out 2000ms;
    transition: all 4000ms ease-in-out 2000ms;
}

.active .browser-chrome.no-scroll img {
    top: 0;
}
.browser-chrome:after {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 72px;
    top: 0;
    left: 0;
}
.www-usaa-reg {
    width: 756px;
    position: absolute;
    left: 50%;
    margin-left: -378px;
}
.www-usaa-reg:after {
    background: 
        url(../images/chrome-tr.png) top right no-repeat,
        url(../images/chrome-tl-usaa-reg.png) top left no-repeat,
        url(../images/chrome-top.png) repeat-x;
}
.www-usaa:after {
    background: 
        url(../images/chrome-tr.png) top right no-repeat,
        url(../images/browser-chrome-retirement.png) top left no-repeat,
        url(../images/chrome-top.png) repeat-x;
}
.www-yui2-home:after {
    background: 
        url(../images/chrome-tr.png) top right no-repeat,
        url(../images/chrome-tl-yui2.png) top left no-repeat,
        url(../images/chrome-top.png) repeat-x;
}
.www-refapp:after {
    background: 
        url(../images/chrome-tr.png) top right no-repeat,
        url(../images/chrome-tl-refapp.png) top left no-repeat,
        url(../images/chrome-top.png) repeat-x;
}
.www-zakas:after {
    background: 
        url(../images/chrome-tr.png) top right no-repeat,
        url(../images/chrome-tl-zakas.png) top left no-repeat,
        url(../images/chrome-top.png) repeat-x;
}